* {
 box-sizing: border-box;
}

body {
  margin: 0px;
  background:url('Museum.jpg') no-repeat center fixed;
}

h1 {
  width: 100%;
  background: rgba(255,255,255,0.8);
  color: black;
  text-align: left;
  position: fixed;
  margin: 0px;
  top: 0px;
  padding: 10px;
  border-bottom: solid black;
}

.landingBox {
  background: rgb(255,255,255);
  width: 100%;
  height: 100px;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 100px;
  }

button {
  display: block;
  color: white;
  width: 100px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer
}

button:hover {
  color: white;
}

.gallery {
  width: 90%;
  height: 200px;
  background: rgba(128,128,128, 0.9);
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  color: white;
  cursor: pointer;
}

.gallery:hover {
  background: rgba(255,255,255, 0.8);
  color: black;
}

.hiddenForm {
  display:none;
  width: 90%;
  margin-top: 300px;
  margin-left: auto;
  margin-right:auto;
  background:rgba(128,128,0, 0.8);
}

/*.js-search-results {
  display: hidden;
}*/

.submitButton {
  display: none;
  position: fixed;
  margin-left: 80%;
  margin-top: 10px;
}

form {
  text-align: center;

}

.submit {
  height: 50px;
  width: 300px;
  background: black;
  border-radius: 100px;

}

button:hover {
  background: white;
  color: black;
}
.formCss {
  text-align: center;
  color: black;
  background: white;
  width: 100%;
  margin-top: 10px;
}

.submitButton {
  background: white;
  color: black;
  height: 100px;
  width: 100px;
  left: 20px;
}

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 100px;
  outline-style: none;

}

legend {
  color: white;
}

img {
  margin-top: 20px;
  height: 700px;
  width: 50%;
}
  
  .row {
  max-width: 1000px;
 padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.thumbnail-image {
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

/*Clearfix*/ 
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  width: 100%;
}


/*For Larger Non-mobile Screens*/

@media only screen and (min-width: 640px) {

  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-12 {
    width: 100%;
  }
}